{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
  <div class="row justify-content-center mt-3">
    <div class="col-6">
      {% if validlink %}
        <p>Digita qui (e conferma) la nuova password:</p>
        <form action="" method="post">
          {% csrf_token %}
            {{ form.new_password1.errors }}
            <p id='pass1'>{{ form.new_password1|as_crispy_field:"bootstrap" }}</p>

            {{ form.new_password2.errors }}
            <p id='pass2'>{{ form.new_password2|as_crispy_field:"bootstrap" }}</p>
            <input class='btn btn-info' type="submit" name="" value="Cambia Password">
        </form>
      {% else %}
        <h1>Password reset fallito</h1>
        <p>Il link del reset non è valido, probabilmente perchè è già stato utilizzato. Prova a chiederne uno nuovo <a href="{% url 'password_reset' %}">qui</a></p>
      {% endif %}
    </div>
  </div>

{% endblock %}
